:root {
--pink: hsl(322, 100%, 66%);
--light-pink: hsl(321, 100%, 78%);
--light-red: hsl(0, 100%, 63%);
--dark-cyan: hsl(192, 100%, 9%);
--pale-blue: hsl(207, 100%, 98%);
--font-poppins: 'Poppins', sans-serif;
--font-open-sans: 'Open Sans', sans-serif;


}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

h* {
    color: var(--dark-cyan);
    font-family: var(--font-poppins);
    font-weight: 700;
}

.pink-btn {
    color: white;
    background-color: var(--pink);
    font-size: 1rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

body {
    font-family: var(--font-open-sans); 
}

/* ///////////////////////////////////////////////////////////////////////////////// */
a {
    text-decoration: none;
}

.pink-btn:hover {
    background-color: hsl(322, 100%, 80%);
}

/* Navbar and Hero Section */
main {
    width: 100%;
    margin: auto;
    padding-top: 1rem;
}

main > * {
    width: 85%;
    margin: auto;
}

main > nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

main > nav > img {
    transform: scale(.5);
    margin-left: -3.5em;
}

main > nav > a {
    color: var(--pink);
    font-weight: 600;
    font-size: 1rem;
    display: grid;
    place-items: center;
    border: 2px solid var(--pink);
    border-radius: 2rem;
    padding: .2rem 1rem;
    align-self: center;
}

main > nav > a:hover {
    color: var(--light-pink);
    border-color: var(--light-pink);
}
    /* hero section: text with mocup img */
main > .hero {
    text-align: center;
}

main > .hero > div:nth-child(1) {
    margin-bottom: 7rem;
}

main > .hero > div:nth-child(1) > h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

main > .hero > div > p {
    color: var(--dark-cyan);
    margin-bottom: 3rem;
}

main > .hero > div + div {
    margin-bottom: 10rem;
}

main > .hero > div + div > img {
    max-width: 100%;
}

    /* Stats section  */
main > .stats {
    width: 100%;
    background-image: url('../assets/images/bg-section-top-mobile-1.svg');
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: bottom center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding-bottom: 10rem;
}

main > .stats > * {
    width: 85%;
}

main > .stats h1 {
    position: relative;
    color: var(--dark-cyan);
    font-size: 4rem;
    margin-bottom: .5rem;
}

main .stats p {
    color: var(--dark-cyan);
    opacity: .7;
}

main .stats > div:nth-child(1) > h1::before {
    content: url("../assets/images/icon-communities.svg");
    position: absolute;
    top: -3rem;
    width: 2rem;
}

main .stats > div:nth-child(2) > h1::before {
    content: url("../assets/images/icon-messages.svg");
    position: absolute;
    top: -3rem;
    width: 2rem;
}

/* Start section */
.start {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    display: grid;
}

.start > * > * {
    width: 85%;
    margin: auto;
}

.start h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.start p {
    /* color:; */
}

.start img {
    max-width: 100%;
}

.start .grow, .start .conversation, .start .users {
    /* background-color: wheat; */
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
}

.start .grow {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #F6FBFF;
}

.start .grow::after {
    content: url("../assets/images/bg-section-bottom-mobile-1.svg");
    position: absolute;
    bottom: -3rem;

}

.start .conversation {
    padding-top: 10rem;
    padding-bottom: 15rem;
}

.start .conversation::after {
    content: url("../assets/images/bg-section-top-mobile-2.svg");
    position: absolute;
    bottom: 0;
}

.start .users {
    background-color: #F6FBFF;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.start .users::after {
    content: url("../assets/images/bg-section-bottom-mobile-2.svg");
    position: absolute;
    bottom: -6rem;
}


/* Start for free section */
.start .free {
    width: 100%;
    justify-self: center;
    margin: auto;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 15rem;
}

.start .free h1 {
    color: var(--dark-cyan);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.start .free a {
    margin-bottom: 2rem;
}


/* footer section  */
footer {
    width: 100%;
    color: white;
    position: relative;
    background-color: var(--dark-cyan);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
}

footer::before {
    content: url(../assets/images/bg-footer-top-mobile.svg);
    position: absolute;
    top: -3rem;
}

footer > * {
    width: 85%;
    margin: auto;
}

footer a {
    /* color: var(--grayish-blue); */
}

footer a:hover {
    text-decoration: underline;
}



footer > p {
    text-align: center;
    font-size: 1rem;
}



    /* Top part of the footer  */
.top-footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
}

.top-footer .left {
    display: grid;
    row-gap: .5rem;
}

   /* footer logo  */
.top-footer .left .logo > svg {
    width: 95%;
}

.top-footer .left .logo > svg {
    transform: scale(.7);
    margin-left: -3rem;
}

.top-footer .left .logo > svg > g > path {
    fill: white;
}

.top-footer .left .links {
    display: grid;
    row-gap: 1.5rem;
}

.top-footer .left .links > div {
    display: flex;
    gap: 1rem;
}


.top-footer .right {
    display: grid;
    row-gap: 2rem;
}

.top-footer .right > div > h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.top-footer .right > div + div input {
    width: 100%;
    padding: 1rem .5rem;
    border: 1px solid var(--pale-blue);
    border-radius: .2rem;
    margin-bottom: 1rem;
}

.top-footer .right > div + div p {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.top-footer .right > div + div a {
    background-color: var(--pink);
    display: block;
    text-align: right;
    padding: 1rem 2rem;
    border-radius: .2rem;
}


    /* bottom part of the footer  */
.bottom-footer {
    text-align: center;
    margin-bottom: 2rem;
}




@media screen and (max-width: 360px) {
    main > nav > a {
        font-size: .6rem;
        padding: 0rem .2rem;
    }

    .pink-btn {
        color: white;
        /* background-color: var(--pink); */
        font-size: 1rem;
        border-radius: 2rem;
        padding: 1rem .5rem;
    }

}

/* for screens above 1200px  */
@media screen and (min-width: 1200px) {
    /* Navbar and Hero Section */
    main {
        background-image: url('../assets/images/bg-hero-desktop.svg');
    }

    main > nav {
        width: min(85%, 75rem);
    }

    main > nav > img {
        margin-left: -4rem;
    }

    main > * {
        width: min(85%, 75rem);
        margin: auto;
    }

    main > .hero {
        width: min(85%, 75rem);
        text-align: left;
        display: flex;
        gap: 3rem;
        justify-content: space-between;
        align-items: center;
    }

    main > .hero > div {
        width: 45%;
    }

    main > .hero > div + div {
        width: 55%;
    }

    main > .hero > div > h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

main > .hero > div > p {
    margin-bottom: 3rem;
}

    /* Start section */
    .start {
        width: min(85%, 75rem);
    }

        .start .description .grow, .start .description .conversation, .start .description .users {
            text-align: left;
            flex-direction: row;
            gap: 5rem;
            align-items: center;
            padding-left: 5rem;
        }

        .start .description .conversation{
            flex-direction: row-reverse;
        }


    /* footer section  */
    footer > * {
        width: min(85%, 75rem);
        margin: auto;
    }

    .footer-logo {
        width: min(85%, 75rem);
    }

    .footer-link {
        width: min(85%, 75rem);
        color: var(--pale-cyan);
        font-size: 1rem;
        display: grid;
        grid-template-columns: 40% 15% 15% 15%;
        column-gap: 5rem;
        justify-content: space-between;
    }

    .footer-link > div:nth-child(4) {
        align-items: baseline;
    }

    footer > div + p {
        text-align: right;
        margin-bottom: 3rem;
    }


}
